project:
  type: website
  output-dir: docs

website:
  title: "Terminologický slovník výparu"
  favicon: ""

  navbar:
    left:
      - href: index.qmd
        text: "<i class='fa-solid fa-house'></i>"
      - href: Rozcestnik.qmd
        text: Rozcestník
      - href: Literatura.qmd
        text: Literatura

  sidebar:
    style: docked
    search: false      # or true, as you prefer

    header: |
      <h4>Počáteční písmeno</h4>
      <table class="alphabet-table">
        <tr>
          <td><a href="A.qmd">A</a></td>
          <td><a href="B.qmd">B</a></td>
          <td><a href="C.qmd">C</a></td>
          <td><a href="E.qmd">E</a></td>
        </tr>
        <tr>
          <td><a href="G.qmd">G</a></td>
          <td><a href="I.qmd">I</a></td>
          <td><a href="K.qmd">K</a></td>
          <td><a href="L.qmd">L</a></td>
        </tr>
        <tr>
          <td><a href="M.qmd">M</a></td>
          <td><a href="O.qmd">O</a></td>
          <td><a href="P.qmd">P</a></td>
          <td><a href="R.qmd">R</a></td>
        </tr>
        <tr>
          <td><a href="S.qmd">S</a></td>
          <td><a href="T.qmd">T</a></td>
          <td><a href="V.qmd">V</a></td>
          <td><a href="Z.qmd">Z</a></td>
        </tr>
      </table>
    
    contents:
      - auto: false

lang: cz

format:
  html:
    lang: cs
    theme: cosmo
    css: styles.css
    toc: true
    toc-depth: 4
    toc-title: "Na této stránce"
    grid:
      sidebar-width: 22%
      margin-width: 22%
    include-in-header:
      text: |
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            console.log('Inline script loaded. Initializing collapsible sections...');
            const headings = document.querySelectorAll('h5.anchored');
            if (headings.length === 0) {
              console.warn('No h5 elements found.');
              return;
            }

            headings.forEach((heading) => {
              const collapsible = heading.nextElementSibling;
              if (collapsible && collapsible.classList.contains('collapsible')) {
                console.log(`Collapsible content found for heading: "${heading.textContent.trim()}"`);
                heading.addEventListener('click', () => {
                  if (collapsible.style.maxHeight) {
                    collapsible.style.maxHeight = null;
                    console.log(`Collapsing content for: "${heading.textContent.trim()}"`);
                  } else {
                    collapsible.style.maxHeight = collapsible.scrollHeight + 'px';
                    console.log(`Expanding content for: "${heading.textContent.trim()}"`);
                  }
                  heading.classList.toggle('collapsed');
                });
                collapsible.style.maxHeight = null;
              } else {
                console.warn(`No collapsible div found for heading: "${heading.textContent.trim()}"`);
              }
            });
          });
        </script>
    include-after-body:
      text: |
        <footer style="background: linear-gradient(to right, gray, lightgray); color: white; padding: 20px; text-align: center; margin-top: 20px;">
          <div>
            <img src="images/LOGO_czechglobe.svg" alt="Logo 4" style="color: white; height: 70px; margin: 0 10px;">
            <img src="images/LOGO_VUV.png" alt="Logo 1" style="height: 120px; margin: 0 10px;">
            <img src="images/LOGO_CZU.png" alt="Logo 2" style="height: 100px; margin: 0 10px;">
            <img src="images/LOGO_mendelu.svg" alt="Logo 3" style="height: 70px; margin: 0 10px;">
          </div>
          <span>
            2025 Terminologický slovník výparu. <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/CC_BY_icon.svg/2880px-CC_BY_icon.svg.png" width=100 style="margin-left:10px">
          <span>
        </footer>

bibliography: references.bib
