a {
  color: #dbad6aFF;
}

a:hover {
  color: rgba(255, 217, 0, 0.9);
}

.collapsible {
  max-height: 0; /* Start as collapsed */
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Smooth animation */
  padding: 5px;
}

h4.anchored {
  cursor: pointer;
  background: linear-gradient(to right, #dbad6aaa, rgba(255, 217, 0, 0.7)); /* Navy blue #001f3f*/ 
  color: black; /* White text */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 0; /* No gap between heading and content */
}

h4.anchored:hover {
  background: linear-gradient(to right, #dbad6a22, rgba(255, 217, 0, 0.3)); /* Navy blue #001f3f*/ 
}

h5.anchored:before {
  content: "▶ ";
  font-size: 0.75em;
}

h5.anchored.collapsed:before {
  content: "▼ ";
  font-size: 0.75em;
}


.chart {
    width: 100vw;
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}


input[type=range] {
  -webkit-appearance: none;
  width: 25%;
  height: 2.5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

input[type=range]:hover {
  background: #888;
}

/* Chrome & Safari Thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #dbad6a;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Firefox Thumb */
input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #dbad6a;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
