.collapsible {
  max-height: 0; /* Start as collapsed */
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Smooth animation */
  padding: 5px;
}

h4.anchored {
  cursor: pointer;
  background: linear-gradient(to right, #dbad6aaa, rgba(255, 217, 0, 0.7)); /* Navy blue #001f3f*/ 
  color: black; /* White text */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 0; /* No gap between heading and content */
}

h4.anchored:hover {
  background: linear-gradient(to right, #dbad6a22, rgba(255, 217, 0, 0.3)); /* Navy blue #001f3f*/ 
}

h4.anchored:after {
  content: " ▼";
  font-size: 0.8em;
}

h4.anchored.collapsed:after {
  content: " ▲";
  font-size: 0.8em;
}
